-e git+https://github.com/okfn/messytables#egg=messytables
-e git+https://github.com/okfn/sqlaload#egg=sqlaload
-e git+https://github.com/pudo/nomenklatura-client#egg=nkclient
psycopg2
ckanclient
openpyxl
jinja2
chardet
