---
title: Reporting on UK Spending Data Releases
layout: gb
---

{% macro render_groups(groups, title, extraclass) %}
<h4 class="{{extraclass}}">
    {{title}}
</h4>
<table class="table table-condensed tablesorter {{extraclass}}" id="publishers-table">
  <thead>
    <tr>
      <th>Publisher</th>
      <th>Status</th>
      <th class="num xjs-tooltip" title="The number of spreadsheet files with spend transactions. They must be published on data.gov.uk correctly tagged and the spreadsheet must be correctly formatted.">Files</th>
      <th class="num xjs-tooltip" title="Number of spend transactions">Transactions</th>
      <th class="num xjs-tooltip" title="Date of the most recent spend transaction reported">Latest</th>
      <th class="num xjs-tooltip" title="Total value of the spend transactions reported">Total (&pound;)</th>
    </tr>
  </thead>
  <tbody>
  {% for group in groups %}
    <tr class="traffic-lights">
      <td>
        {% if group.num_sources and not group.spending_published_by %}
          <a href="publisher-{{group.name}}.html">{{group.title|e}}</a>
        {% else %}
          {{group.title|e}}
        {% endif %}
        (<a href="http://data.gov.uk/publisher/{{group.name}}">publisher page</a>)
      </td>
      {% if group.top_class %}
        <td class="top_class" sort="1">Up-to-date</td>
      {% elif group.num_entries %}
        <td class="has_sources" sort="2">Has past data</td>
      {% else %}
        <td class="no_sources" sort="3">No data</td>
      {% endif %}
      {% if group.spending_published_by %}
        <td colspan="4" class="reference">published by
          <a href="publisher-{{group.spending_published_by}}.html">{{by_names[group.spending_published_by]|e}}</a></td>
      {% else %}
        <td class="num">{{group.num_sources}}</td>
        <td class="num">{{group.num_entries}}</td>
        <td class="num">{{group.latest|british_date or ""}}</td>
        <td class="num">{{group.total|currency_format}}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endmacro %}

<style>
  td.num, th.num {
    text-align:right;
  }

  .reference {
    font-style: italic;
  }

  .traffic-lights .no_sources,
  .tdbad {
    background-color: #F2DEDE;
  }

  .traffic-lights .has_sources,
  .tdmedium {
    background-color: #FCF8E3;
  }

  .traffic-lights .top_class,
  .tdgood  {
    background-color: #DFF0D8;
  }

  .group_row.reported_elsewehre,
  .group_row.reported_elsewehre.has_sources,
  .group_row.reported_elsewehre.has_sources.top_class {
    background-color: white !important;
  }
</style>

<h2>
  UK Departmental Spend Reporting
  <small>as of {{report_ts}}</small>
</h2>

<div class="row">
  <div class="col-md-12">
    <p>Every body of the UK central government is required to report its
    transactional expenditure once a month. This table lists all 
    central government departments and shows how up-to-date their spending
    reports are on data.gov.uk.</p>
    <p class="text-warning"><i class="icon-warning-sign"></i> This report service has been launched as a public <strong>beta</strong>.</p>
    <p>The initial intention for these reports is to allow government publishers to audit their entries on data.gov.uk and ensure all their spend transaction data is included in this report.</p>
  </div>
  <div class="col-md-6">
    <h3>Overall statistics</h3>
    <table class="table table-condensed traffic-lights">
      <tr>
        <td>{{stats.num}}</td>
        <td>Departments</td>
      </tr>
      <tr class="top_class">
        <td>{{stats.cover_2m}} ({{stats.cover_2m|pct(stats.numf)}})</td>
        <td class="js-tooltip" title="Transactions published in the past month">Up-to-date</td>
      </tr>
      <tr class="has_sources">
        <td>{{stats.cover_ever - stats.cover_2m}} ({{(stats.cover_ever - stats.cover_2m)|pct(stats.numf)}})</td>
        <td class="js-tooltip" title="Transactions published, but not in the past month">Has past data</td>
      </tr>
      <tr class="no_sources">
        <td>{{stats.num - stats.cover_ever}} ({{(stats.num - stats.cover_ever)|pct(stats.numf)}})</td>
        <td class="js-tooltip" title="No transactions published correctly on data.gov.uk">No data</td>
      </tr>
    </table>
  </div>
</div>

{% for section, groups in groups_by_section %}
  {{ render_groups(groups, section, 'required' if section in sections_required_to_report else 'voluntary') }}
{% endfor %}

  <h3>Notes:</h3>
  <ul>
    <li>Some of the smaller organisations have very few transactions over &pound;25k and subsequently only publish data for the month if this criteria has been met.</li>
  </ul>
