---
title: {{publisher_title}}
layout: gb
---

<style>
  .num {
    text-align:right;
  }

  .bool.False a {
    color: #B94A48;
    text-decoration: none;
  }

  .bool.None {
    display: none;
  }

  .bool.True {
    color: #468847;
  }
</style>

{% macro showbool(resource, value, stage) -%}
  <span class="bool {{value}}">
  {% if value %}
    &#x2714;
  {% else %}
  <a href="#issues-{{resource}}">&#x2718;</a>
  {% endif %}
  </span>
{%- endmacro %}

<h2>
  {{publisher_title}}
  <small>as of {{report_ts}}</small>
</h2>

<table class="table table-condensed">
  <tr>
    <th colspan="2">Resource</th>
    <th>Fetch</th>
    <th>Format</th>
    <th>Columns</th>
    <th>Data</th>
    <th>Valid</th>
    <th class="num">Entries</th>
    <th class="num">Oldest</th>
    <th class="num">Latest</th>
    <th class="num">Total (GBP)</th>
  </tr>
  {% for pres in resources|groupby('package_name') %}
    <tr>
      <th colspan="11">
        <a href="http://data.gov.uk/dataset/{{pres.grouper}}">{{pres.list[0]['package_title']}}</a>
      </th>
    </tr>
    {% for res in pres.list %}
      <tr>
        <td></td>
        <td>
          <a href="http://data.gov.uk/dataset/{{pres.grouper}}/resource/{{res['resource_id']}}">{{res['description'] or res['url'] | truncate(length=100) }}</a>
        </td>
        <td>
          {{showbool(res.resource_id, res.retrieve_status, 'retrieve')}}
        </td>
        <td>
          {{showbool(res.resource_id, res.extract_status, 'extract')}}
        </td>
        <td>
          {{showbool(res.resource_id, res.combine_status, 'combine')}}
        </td>
        <td>
          {{showbool(res.resource_id, res.cleanup_status, 'cleanup')}}
        </td>
        <td>
          {{showbool(res.resource_id, res.validate_status, 'validate')}}
        </td>
        <td class="num">
          {{res.num_entries}}
        </td>
        <td class="num">
          {{res.oldest or ""}}
        </td>
        <td class="num">
          {{res.latest or ""}}
        </td>
        <td class="num">
          {{res.total or ""}}
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>

<hr/>
<h3>Error details</h3>
<table class="table table-condensed table-bordered">
  <tr>
    <td colspan="2">
      Resource/Stage
    </td>
    <td>
      Error
    </td>
  </tr>
  {% for res in resources %}
    {% if res.issues %}
      <tr>
        <td colspan="3">
          <a name="issues-{{res.resource_id}}"></a>
          <a href="http://data.gov.uk/dataset/{{res.package_name}}/resource/{{res.resource_id}}">{{res.description or res.url | truncate(length=100) }}</a>
        </td>
      </tr>
      {% for stage, message in res.issues %}
        <tr>
          <td></td>
          <td><span class="label label-info">{{stage}}</span></td>
          <td>{{message}}</td>
        </tr>
      {% endfor %}
    {% endif %}
  {% endfor %}
</table>
